<div class="cover">
  <div class="row no-gutters">
    <div class="col-md col-sm-12 col-lg first">
      <section class="content">

        <div class="text">
          <div class="btn-group">
            <i class="fa fa-bars fa-2x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              aria-hidden="true"></i>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#about">About</a>
              <a class="dropdown-item" href="#titleedu">Education</a>
              <a class="dropdown-item" href="#experience">Experience</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#project">Projects</a>
            </div>
          </div>
          <h1 id="title">Hello, I'm a Software Developer passionate about improving user experiences</h1>
          <h4 id="message">My name's Antony .I develop web applications using the modern fullstack technologies</h4>
        </div>
        <div class="contact">
          <p>Projects</p>
        </div>
        <div class="socials">
          <p>Find me at <a href="https://github.com/antonymncube?tab=repositories">GitHub</a>,<a
              href="https://www.linkedin.com/in/antony-mncube-06885b241">Linkedin</a> & <a
              href="mailto:antonymncube49@gmail.com">Email</a></p>
        </div>
      </section>
    </div>
    <div class="col-md col-sm-12 col-lg">
      <div [@scrollAnimation]="animationState">
        <section class="content1">
          <div class="image-overlay"></div>
          <img src="../assets/ANTONY.jpg" alt="cant find">
        </section>
        <section class="content2" id="about">
          <h2 class="titleabout">About Me</h2>
          <p class="aboutp">I love teaming up with designers to turn their creative ideas into reality, paying attention
            to every little detail. Every day, I use the latest frontend tech to make sure the final result is as
            awesome as the designers imagined it to be.</p>
          <h4 class="technicaltitle">Technical</h4>
          <p class="technicalp">I really enjoy working with technology, especially using tools like Angular, TypeScript,
            and JavaScript. I also have experience with Java and C#. I'm skilled in creating dynamic and engaging
            websites using HTML and Bootstrap. If you're searching for a developer who loves working with JavaScript and
            TypeScript, and is good at turning designs into functional websites, then I'm the right person for the job.
          </p>
          <h4 class="technicaltitle personal ">Personal</h4>
          <p class="technicalp personal">I grew up in Johannesburg, Gauteng, and when I'm not immersed in coding, you'll often
            find me lost in the world of music. Whether I'm playing my favorite tunes or experimenting with new
            melodies, music is a big part of my life. It's my creative escape when I'm not in front of the screen,
            coding away.</p>
        </section>
        <section class="content3">
          <h3 class="titleedu" id="titleedu">Education</h3>
          <div class="d-flex educ">
            <div class=" education" id="btech">
              <div class="container">
                <div class="card">
                  <div class="front">
                    <h3 class="d-block"><strong class="strong">Vaal University of Technology</strong></h3>
                    <p class="d-block"><strong>Course: </strong>Bachalor of Technology(AdvaD) Information Technology
                    </p>
                    <p class="d-block"><strong>Specialization:</strong> Software Engineering & Information system</p>
                    <p class="d-block"><strong>Year:</strong> 2023-2023</p>
                  </div>
                  <div class="back">
                    <h3 class="d-block"><strong class="strong">Kaalfontein Secondary school</strong></h3>
                    <p class="d-block"><strong>Course: </strong>Senior Certificate(Matric)</p>
                    <p class="d-block"><strong>Specialization:</strong>Science</p>
                    <p class="d-block"><strong>Year:</strong> 2013 - 2017</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex education" id="diploma">
              <div class="container">
                <div class="card">
                  <div class="front">
                    <h3 class="d-block"><strong class="strong">University of Technology</strong></h3>
                    <p class="d-block"><strong>Course: </strong>DIPLOMA in Information Technology </p>
                    <p class="d-block"><strong>Specialization:</strong> Software Engineering</p>
                    <p class="d-block"><strong>Year:</strong> 2019 - 2022</p>
                  </div>
                  <div class="back">
                    <h3 class="d-block"><strong class="strong">Hyperion Dev</strong></h3>
                    <p class="d-block"><strong>Course: </strong>web Development Bootcamp</p>
                    <p class="d-block"><strong>Specialization:</strong> Full Stack</p>
                    <p class="d-block"><strong>Year:</strong> 2022 NOV - 2023 JAN</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex educ">
            <div class="container">
              <div class="card2" id="expcard">
                <div class="front d-flex " id="expcardd">
                  <div class=" Genasys ">
                    <h3 class="d-block"><strong>Genasys TECHNOLOGIES</strong></h3>
                    <p class="d-block"><strong>Position: </strong>Software Developer Graduate </p>
                    <p class="d-block"><strong>Specialization:</strong> frontend</p>
                    <p class="d-block"><strong>Year:</strong> 2023SEP - Present</p>
                  </div>
                  <div>
                    <p class="d-block"><strong>Role: </strong>Maintain web applications using Angular.js and sql.</p>
                    <p class="d-block">Use GitHub and Git to implement and maintain version control.</p>
                    <p class="d-block">Receive and articulate ideas from the management team to my team members</p>
                  </div>
                </div>
                <div class="back  d-flex " id="expcardd">
                  <div class=" Genasys ">

                    <h3 class="d-block"><strong>Reverside | IT Consulting </strong></h3>
                    <p class="d-block"><strong>Position: </strong>Java Full stack Learner(Intern),</p>
                    <p class="d-block"><strong>Specialization:</strong> Full Stack Java</p>
                    <p class="d-block"><strong>Year:</strong> 2023SEP - Present</p>
                  </div>
                  <div>
                    <p class="d-block"><strong>Role: </strong>Engaged in continuous learning and Practice in the full
                      stack java technologies Java</p>
                    <p class="d-block">Spring Boot ,Sql,Javascript(Angular.js) and Java SE</p>
                  </div>
                </div>
              </div>

            </div>
          </div>



        </section>
        <section class="content4">
          <div class="job">
            <h3 class="titleext" id="experience">Experience</h3>
            <div class="experience1">
              <div class="job d-block">
                <h3><strong>Genasys TECHNOLOGIES</strong></h3>
                <p><strong>Position: </strong>Software Developer Graduate </p>
                <p><strong>Specialization:</strong> Frontend</p>
                <p><strong>Year:</strong> 2023SEP - Present</p>
                <p><strong>Role: </strong>Maintain web applications using Angular.js and SQL.</p>
                <p>Use GitHub and Git to implement and maintain version control.</p>
                <p>Receive and articulate ideas from the management team to my team members.</p>
              </div>

              <div class="job d-block">
                <h3><strong>Reverside | IT Consulting</strong></h3>
                <p><strong>Position: </strong>Java Full stack Learner(Intern)</p>
                <p><strong>Specialization:</strong> Full Stack Java</p>
                <p><strong>Year:</strong> 2023Jan -2023jun </p>
                <p><strong>Role: </strong>Engaged in continuous learning and practice in full stack Java technologies
                </p>
                <p>Java, Spring Boot, SQL, JavaScript (Angular.js), and Java SE</p>
              </div>
              <h1 class="project" id="project">Projects</h1>
              <h2 id="titles">Security Maintenance(SecMaint) </h2>
              <p>This Security Maintenance System, built with Angular.js and utilizing a JSON server, empowers
                administrators to manage users by adding them to the system and assigning corresponding security
                access codes. These access codes determine the roles and permissions each user possesses within the
                system</p>
              <h3>Technologies Used:</h3>
              <ul>
                <li>Angular</li>
                <li>JSON server</li>
              </ul>
              <h3>Key Features:</h3>
              <ul>
                <li>Add Users</li>
                <li>User Management</li>
                <li>Security Access Code Assignment</li>
                <li>Role and Permissions Control</li>
              </ul>
              <p>Github: <strong><a class="gitlink"
                    href="https://github.com/antonymncube/Security-maintenance-team-">GitHub</a></strong>
              </p>
            </div>
          </div>



          <section id="slider">

            <input type="radio" name="slider" id="s2" checked>
            <input type="radio" name="slider" id="s3">
            <input type="radio" name="slider" id="s4">




            <label for="s2" id="slide2">
              <div class="projects">
                <h2 id="titles">Security Maintenance(SecMaint) </h2>


                <div class="project-container">

                  <p>This Security Maintenance System, built with Angular.js and utilizing a JSON server, empowers
                    administrators to manage users by adding them to the system and assigning corresponding security
                    access codes. These access codes determine the roles and permissions each user possesses within the
                    system</p>
                  <h3>Technologies Used:</h3>
                  <ul>
                    <li>Angular</li>
                    <li>JSON server</li>
                  </ul>
                  <h3>Key Features:</h3>
                  <ul>
                    <li>User Management</li>
                    <li>Security Access Code Assignment</li>
                    <li>Role and Permissions Control</li>
                  </ul>
                  <p>Github: <strong><a class="gitlink"
                        href="https://github.com/antonymncube/Security-maintenance-team-">GitHub</a></strong>
                  </p>
                   
                </div>
              </div>
            </label>
            <label for="s3" id="slide3">
              <div class="projects">
                <h2 id="titles">Financial Analysis Application</h2>


                <div class="project-container">

                  <p>The Financial Analysis App, created with React.js, helps users handle customer data easily. Users
                    can
                    input customer info using a simple form and upload Excel documents with income and spending data for
                    the past year. The app uses graphs to show trends, giving useful insights for financial analysis.
                  </p>
                  <h3>Technologies Used:</h3>
                  <ul>
                    <li>React.js</li>

                  </ul>
                  <h3>Key Features:</h3>
                  <ul>
                    <li>Visualize Trends</li>
                    <li>Data Analysis and Reports</li>
                  </ul>
                  <p>Github: <strong><a class="gitlink"
                        href="https://github.com/antonymncube/Financial-Analysis-Application">GitHub</a></strong>
                  </p>
                </div>
              </div>
            </label>
            <label class="lastslide" for="s4" id="slide4">
              <div class="projetcs">



                <div class="project-container" id="lastslide">
                  <h2 id="lastslide">Management-System</h2>

                  <p>Management System is a handy tool designed to make organizing tasks in a company super easy. It
                    smartly gives out jobs to people and sets clear deadlines for them. Plus, it lets you keep a close
                    eye
                    on how all tasks are going across the whole organization</p>
                  <h3>Technologies Used:</h3>
                  <ul>
                    <li>Python</li>

                  </ul>
                  <h3>Key Features:</h3>
                  <ul>
                    <li>Add Tasks:</li>
                    <li>Assign Tasks</li>
                    <li>Set Deadlines:</li>
                    <li>Monitor Progress</li>
                  </ul>
                  <p>Github: <strong><a class="gitlink1"
                        href="https://github.com/antonymncube/Management-System">GitHub</a></strong>
                  </p>
                </div>
              </div>
            </label>

          </section>
        </section>
      </div>
    </div>
  </div>
</div>